<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title %>
    </title>
</head>

<body>
    <% for(var i in messages) { %>
        <div class="flash">
            <%= messages[i] %>
        </div>
        <% } %>
            <form action="/forgot" method="post">
                <div>
                    <label>Email:</label>
                    <input type="text" name="email" />
                </div>
                <div>
                    <input type="submit" value="Reset Password" />
                </div>
            </form>
            
</body>

</html>